* {
  box-sizing: border-box;
}

body {
    background-color: #F5FAFE;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #000512;
}

header {
  background-color: #6CB8FF;
  text-align: center;
  padding: 10px 0;
  border-bottom: 3px solid #0084ff;
  position: fixed;
  width: 100%;
}



/*Image*/
img {
    width: 100%;
    max-width: 1200px;
  }

.social-icon {
  width: 32px;
  height: 32px;
  margin-right: 14px;
  margin-left: 14px;
}

/*Heading*/

h1 {
    font-size: 2.0rem;
    font-weight: 800;
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
}

h3 {
    font-size: 1.6rem;
    font-weight: 600;
}

h4 {
    font-size: 1.4rem;
    font-weight: 500;
}

/*anchor Styles */
a {
    color: #c9400e;
    text-decoration: none;
  }

  a:visited { 
    color: #cc6540;
  }

  a:focus,
  a:hover {
    color: #cf3700;
    text-decoration: underline;
  }

  a:active {
    color: #cf3700;
  }


/*Buttons Styles */ 
.button {
  display: inline-block;
  background-color: #cc6540;
  color:#F5FAFE;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #c9400e;
  transition: 0.2s opacity;

}

.button:visited {
  color: #F5FAFE
}

.button:hover,
.button:focus {
  opacity: 0.8;
  color: #F5FAFE;
  text-decoration: none;
}

.button:active {
  opacity: 0.8;
  text-decoration: none;
  background-color: #cf3700;
}

.button.contact {
  background-color: transparent;
  color: #cc6540;
  text-transform: uppercase;
  border: 2px solid #cc6540;
  display: inline-block;
  width: 100%;
  text-align: center;
  max-width: 144px;
}

.button.contact:visited {
  color: #cc6540;
  text-decoration: none;
}

.button.contact:hover {
  background-color: #cc6540;
  color: #F5FAFE;
}

.button.contact:active {
  background-color: #c9400e;
  color: #F5FAFE;
  text-decoration: none;

}

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
#work h1,h2 {
  text-align: center;
}

#hero h1 {
  text-align: center;
}

.logo {
  max-width: 250px;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #cf3700;
}

#hero {
  background-color: #6CB8FF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

main {
  padding-top: 200px;
}

footer {

  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #6CB8FF;

}


.social {
  display: inline-block;
  width: 100%;
}

